// Variables
$background-color: #f7f3e9;
$darker-green: #102c1a;
$dark-green: #1a472a;
$font-family: 'Georgia', serif;
$font-color: #333;
$border-color: #aaa;
$ornate-frame-color: #9b7c56;
$antique-white: #faebd7;
$embossed-color: gold;
$another-old-paper-manilla: #f4e39b;
$content-background: $another-old-paper-manilla;
//$main-text: color.scale($content-background, $lightness, -20%);
$main-text: darken($content-background, 60%);
// Mixins
@mixin ornate-frame {
  border: 5px solid $ornate-frame-color;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}


//embossed font effect
@mixin embossed {
  color: $content-background;
  text-shadow: -1px -1px 0px rgba(255, 255, 255, 0.3), 1px 1px 0px rgba(0, 0, 0, 0.8);
}
.embossed {
  @include embossed;
}

html{
  height: 100%;
}

// Global styles
body {
  background-color: $darker-green;
  font-family: $font-family;
  font-size: 18px;
  color: $font-color;
  line-height: 1.6;
  margin: 0;
  background-image: linear-gradient(to right, $darker-green, $dark-green);
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: stretch;
}

h1, h2, h3, h4, h5, h6 {
  color: $main-text;
}

a {
  color: $main-text;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

// Navigation
nav {
  background-color: $dark-green;
  text-align: center;
  padding: 10px 0;

  a {
    color: #fff;
    padding: 0 10px;
  }
}

// Header
header {
  text-align: center;
  padding: 30px 0;

  h1 {
    font-size: 40px;
    margin-bottom: 10px;
  }

  h2 {
    font-size: 20px;
  }
}

@mixin aged-manilla-background-with-radial-gradient {
  background: $content-background;
  background: radial-gradient(ellipse farthest-corner at center center, $content-background 60%, #000000 160%);
  background: -webkit-radial-gradient(ellipse farthest-corner at center center, $content-background 60%, #000000 160%);
  background: -moz-radial-gradient(ellipse farthest-corner at center center, $content-background 60%, #000000 160%);
}

// Content
#content {
  @include aged-manilla-background-with-radial-gradient;
  flex-grow: 1;
  margin: 0px;
  padding: 30px;

  .post {
    margin-bottom: 30px;
    border-bottom: 1px solid $border-color;
    padding-bottom: 30px;

    h2 {
      font-size: 30px;
      margin-bottom: 10px;
    }
  }
}


// Portraits with ornate frame
.portrait {
  @include ornate-frame;
}

// Footer
footer {
  background-color: $dark-green;
  text-align: center;
  padding: 20px 0;

  p {
    color: $main-text;
    margin: 0;
  }
}
///nav
// Variables
$navbar-height: 60px;

// Navbar
.navbar {
  top: 0;
  width: 100%;
  height: $navbar-height;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 15px;
  }

  .navbar-brand {
    //color: #fff;
    font-size: 24px;
    text-decoration: none;
  }

  .nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
    @include embossed;
    li {
      display: inline;
      margin-left: 15px;
    }

    a {
      color: $content-background;
      text-decoration: none;
      padding: 0 10px;
      transition: all 0.3s;

      &:hover,
      &.active {
        text-decoration: underline;
      }
    }
  }
}

// Site Header
.site-header {
  text-align: center;
  padding-top: calc(#{$navbar-height} + 30px);
  padding-bottom: 30px;

  h1 {
    font-size: 40px;
    margin-bottom: 10px;
  }

  h2 {
    font-size: 20px;
  }
}
/// 
/// 